name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest #windows-2019

    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v1
      with:
        python-version: '3.x'
        architecture: 'x64'
    - name: install conan
      run: pip install --upgrade conan
    - name: create build dir
      working-directory: ${{ github.workspace }}
      run: mkdir build
    - name: conan install
      working-directory: ${{ github.workspace }}/build
      #run: conan install ..\cv-plot -s compiler.version='15'
      run: conan install .. -s compiler.libcxx=libstdc++11
    - name: cmake
      working-directory: ${{ github.workspace }}/build
      #run: cmake .. -G "Visual Studio 15 Win64"
      run: cmake .. -G "Unix Makefiles" -DCMAKE_BUILD_TYPE=Release
    - name: build
      working-directory: ${{ github.workspace }}/build
      run: cmake --build . --config Release
    - name: test
      working-directory: ${{ github.workspace }}/build/bin
      run: ./CvPlotTests
